$govuk-assets-path: "/public/";

@import "../../../node_modules/govuk-frontend/govuk/all";
@import "../../../node_modules/hmpo-components/all";

.govuk-radios__item {
  @include govuk-responsive-margin(6, $direction: "bottom", $important: false, $adjustment: false);
}



.govuk-list--bullet>li,
.govuk-list--number>li {
  margin-bottom: 15px;
}

.govuk-inset-text {
  margin-bottom: 30px;
}

.govuk-body,
main p,
.govuk-body-m {
  margin-bottom: 30px;
}

.govuk-button {
  margin-bottom: 30px;
  margin-top: 10px;
}

.govuk-summary-list .govuk-summary-list__key {
  color: black;
  font-weight: bold;
}

.govuk-link:link,
main a:link {
  font-size: 19px;
}

.govuk-body,
main p,
.govuk-body-m {
  margin-bottom: 3px;
}

.hint-with-margin {
  margin-top: 30px;
}


.govuk-radios__divider {
  margin-bottom: 15px;
  margin-top: -15px;
}

.govuk-summary-list .govuk-summary-list__key {
  color: #000;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 40px;
}

.govuk-warning-text {
  margin-bottom: 0px;
}

.govuk-error-summary {
  width: 580px;
}


#details-btn {
  margin-top: 0;
  padding-top: 0;
}

.govuk-summary-list .govuk-summary-list__key {
  color: #000;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 40px;
}

.govuk-warning-text {
  margin-bottom: 0px;
}

#details-btn {
  margin-top: 0;
  padding-top: 0;
}

#circle1 {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  line-height: 10px;
  padding: 10px;
  background: #000000;
  border: 3px solid #000;
  color: #ffffff;
  text-align: center;
  text-indent: 7%;
  margin-right: 6px;
}

#circle2 {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  line-height: 10px;
  padding: 10px;
  background: #000000;
  border: 3px solid #000;
  color: #ffffff;
  text-align: center;
  text-indent: -17%;
  margin-right: 6px;
}

#circle3 {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  line-height: 10px;
  padding: 10px;
  background: #000000;
  border: 3px solid #000;
  color: #ffffff;
  text-align: center;
  text-indent: -19%;
  margin-right: 6px;
}

#stepTitle {
  display: inline-block;
}

#indentedInstruction {
  margin-bottom: 2px;
}

#postcode-label {
  font-weight: bold;
  font-size: 24px;
}