$govuk-assets-path: "/public/";
@import "../../../node_modules/govuk-frontend/govuk/all";
@import "../../../node_modules/hmpo-components/all";

.govuk-date-input__label {
  @include govuk-responsive-margin(2, "bottom");
}

b#postcode {text-transform:uppercase;}

.govuk-heading-m,
.hmpo-auto-submit h1,
h2 {
  @include govuk-responsive-margin(6, "bottom");
  display: inline-block;
}

.govuk-details {
  @include govuk-responsive-margin(2, "bottom");
}

.govuk-list--bullet>li,
.govuk-list--number>li {
  @include govuk-responsive-margin(3, "bottom");
}

.govuk-inset-text {
  @include govuk-responsive-margin(5, "bottom");
}

.govuk-body,
main p,
.govuk-body-m {
  @include govuk-responsive-margin(6, "bottom");
}

.govuk-button {
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-margin(2, "top");
}

.govuk-body,
main p,
.govuk-body-m {
  @include govuk-responsive-margin(1, "bottom");
}

.govuk-hint {
  @include govuk-responsive-margin(1, "top")
}

.hint-with-margin {
  @include govuk-responsive-margin(4, "top");
  margin-bottom: govuk-spacing(-2);
}

.govuk-radios__divider {
  @include govuk-responsive-margin(2, "bottom");
}

.govuk-warning-text {
  @include govuk-responsive-margin(0, "bottom");
}

.govuk-error-summary {
  width: 66.6666%;
}

#landingPageTitle {
  @include govuk-responsive-margin(5, "bottom");
}

#details-btn {
  @include govuk-responsive-margin(0, "top");
  @include govuk-responsive-padding(0, "top");
}

.govuk-warning-text {
  @include govuk-responsive-margin(0, "bottom");
}

.listItem {
  @include govuk-responsive-margin(5, "bottom");
}

#details-btn {
  @include govuk-responsive-margin(0, "top");
  @include govuk-responsive-padding(0, "top");
}

.instruction {
  @include govuk-responsive-margin(5, "bottom");
}

#branches-1-label, #branches-2-label, #branches-3-label, #branches-4-label, #branches-5-label  {
  font-weight: bold;
}


.govuk-main-wrapper {
  @include govuk-responsive-padding(3, "top");
}

.photoIdSelectionContent {
  @include govuk-responsive-padding(1, "top");
  @include govuk-responsive-padding(2, "bottom");
}

.photoIdSelectionExpiryWarning {
  @include govuk-responsive-padding(2, "top");
  @include govuk-responsive-padding(2, "bottom");
}

.locationBody {
  @include govuk-responsive-margin(6, "bottom");
  font-weight: bold;
  font-size: 24px;
}

.changePostcode {
  @include govuk-responsive-margin(6, "bottom");
}


#confirmIdentityAnotherWay {
  font-size: 19px;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  line-height: 10px;
  padding: 10px;
  background: govuk-colour("black");
  border: 3px solid govuk-colour("black");
  color: govuk-colour("white");
  text-align: center;
  text-indent: -16%;
  margin-right: 6px;
}

#postcode-label {
  font-weight: bold;
  font-size: 23px;
  @include govuk-responsive-margin(3, "bottom");
}

#landingPageContinue {
  @include govuk-responsive-margin(1, "top");
}

#addressContinue {
  @include govuk-responsive-margin(5, "top")
}

#expiryContinue {
  @include govuk-responsive-margin(4, "top")
}

#photoIdExpiryPrompt {
  font-size: 23px;
}

.expiredIdBody {
  margin-top: govuk-spacing(-1);
}

.expiredIdPrompt {
  color: govuk-colour("black");
  font-size: 23px;
  font-weight: bold;
  @include govuk-responsive-margin(5, "top");
  @include govuk-responsive-margin(3, "bottom");
}

.govuk-cookie-banner h2, .govuk-cookie-banner p {
  margin-top:0; 
  margin-bottom:20px;
}

.govuk-cookie-banner .govuk-button {
  margin-top:0; 
  margin-bottom:20px;
}

////////////////////////

#photoIdChoice-hint {
  @include govuk-responsive-margin(4, "top");
  @include govuk-responsive-margin(6, "bottom");
}

.idExpiryContext {
  @include govuk-responsive-margin(5, "top");
  @include govuk-responsive-margin(6, "bottom");
}

.idHasExpiryDate-radios { 
  @include govuk-responsive-margin(5, "bottom");
}

.currentAddress-radios {
  @include govuk-responsive-margin(7, "bottom");
}

#idHasExpiryContinue {
  @include govuk-responsive-margin(0, "top");
}

#currentAddressContinue {
  @include govuk-responsive-margin(0, "top");
}

#branchesContinue {
  @include govuk-responsive-margin(0, "top");
  @include govuk-responsive-margin(7, "bottom"); 
}

#ukPhotocardDlAddressCheck-hint {
  @include govuk-responsive-margin(7, "bottom");
}

#euPhotocardDlAddressCheck-hint {
  @include govuk-responsive-margin(7, "bottom");
}

#eeaIdentityCardAddressCheck-hint {
  @include govuk-responsive-margin(7, "bottom");
}

#userPostCodeLabel {
  font-weight: bold;
  font-size: 24px;
  @include govuk-responsive-margin(3, "top");
  @include govuk-responsive-margin(4, "bottom");
}

.govuk-summary-list .govuk-summary-list__key { 
  font-weight: bold;
  color: govuk-colour("black");
}

#ukPhotocardDlAddressCheckChange {
  @include govuk-responsive-margin(6, "bottom");
}

#nonUkPassportCountrySelector-label {
  @include govuk-responsive-margin(6, "top");
}

#euDrivingLicenceCountrySelector-label {
  @include govuk-responsive-margin(6, "top");
}

#eeaIdentityCardCountrySelector-label {
  @include govuk-responsive-margin(6, "top");
}

#nonUkPassportCountrySelector {
  @include govuk-responsive-margin(2, "bottom");
}

#euDrivingLicenceCountrySelector {
  @include govuk-responsive-margin(2, "bottom");
}

#eeaIdentityCardCountrySelector {
  @include govuk-responsive-margin(2, "bottom");
}

#nonUkPassportCountrySelectorContinue {
  @include govuk-responsive-margin(5, "top");
}

#euDrivingLicenceCountryContinue {
  @include govuk-responsive-margin(5, "top");
}

#eeaIdentityCardCountrySelectorContinue {
  @include govuk-responsive-margin(5, "top");
}

#branches-hint {
  @include govuk-responsive-margin(6, "bottom");
}

#branches-item-hint, #branches-2-item-hint, #branches-3-item-hint, #branches-4-item-hint, #branches-5-item-hint {
  color: govuk-colour("black");
}

#branches-fieldset {
  @include govuk-responsive-margin(0, "bottom");
}

#postcode-hint {
  @include govuk-responsive-margin(4, "bottom");
}

#photoIdExpiryChoice-hint {
  @include govuk-responsive-margin(4, "bottom");
  @include govuk-responsive-margin(3, "top");
}

.govuk-warning-text {
  @include govuk-responsive-margin(4, "bottom");
}