{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "f2f - checkYourDetails" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block header %}
  {{ govukHeader ({
    serviceName: translate("govuk.serviceName")
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">


{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}
