{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "f2f - checkYourDetails" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ translate("checkDetails.title") }}</h1>
    {{ govukWarningText({
      text: translate("checkDetails.validation.default"),
      iconFallbackText: "Warning"
    }) }}

    {% if (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclCountrySummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/countrySummaryList.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclCountrySummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/countrySummaryListNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclCountryThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/countryThinFileSummaryList.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclCountrySummaryListThinFileNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/countrySummaryListThinFileNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "ukPassport" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == true and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclUkPassportThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPassport" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == false and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/ukPassportThinFileSummaryList.njk" %}

    {% elif (values.photoIdChoice == "ukPhotocardDl" and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclUkDlSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPhotocardDl" and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/ukDlSummaryList.njk" %}

    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclEuSummaryList.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/euSummaryList.njk" %}

    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclEuSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/euSummaryListNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclEeaSummaryList.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/eeaSummaryList.njk" %}

    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == true) %}
      {% include "../components/pclEeaSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == false) %}
      {% include "../components/eeaSummaryListNoExpiry.njk" %}

    {% elif (values.postOfficeCustomerLetterChoice == true) %}
        {% include "../components/pclSummaryList.njk" %}
    {% else %}
        {% include "../components/summaryList.njk" %}
    {% endif %}

    {% call hmpoForm(ctx) %}
      {{ hmpoSubmit(ctx, {id: "continue", text: translate("checkDetails.buttonText"), attributes: {"data-nav": true,"data-link": "/undefined", "data-testid": "confirm-details-continue-btn"}
      }) }}
    {% endcall %}
    </div>
  </div>


{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
        window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
            statusCode: '200', // Access status code
            englishPageTitle: '{{translate("checkDetails.title")}}',
            taxonomy_level1: 'web cri', // Access taxonomy level 1
            taxonomy_level2: 'f2f', // Access taxonomy level 2
            content_id: '001',
            logged_in_status: true,
            dynamic: false,
        });
        });
    </script>
{% endblock %}