{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "f2f - checkYourDetails" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ translate("checkDetails.title") }}</h1>
    {{ govukWarningText({
      text: translate("checkDetails.validation.default"),
      iconFallbackText: "Warning"
    }) }}


    {% if (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == false and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterCountrySummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == false and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailCountrySummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == false and values.pclEnabled == false) %}
      {% include "../components/countrySummaryList.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == false and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterCountrySummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == false and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailCountrySummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == false and values.pclEnabled == false) %}
      {% include "../components/countrySummaryListNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == true and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterCountryThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == true and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailCountryThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == true and values.pclEnabled == false) %}
      {% include "../components/countryThinFileSummaryList.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == true and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterCountrySummaryListThinFileNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == true and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailCountrySummaryListThinFileNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == true and values.pclEnabled == false) %}
      {% include "../components/countrySummaryListThinFileNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "ukPassport" and values.isThinFileUser == true and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterUkPassportThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPassport" and values.isThinFileUser == true and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailUkPassportThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPassport" and values.isThinFileUser == true and values.pclEnabled == false) %}
      {% include "../components/ukPassportThinFileSummaryList.njk" %}

    {% elif (values.photoIdChoice == "ukPhotocardDl" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterUkDlSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPhotocardDl" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailUkDlSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPhotocardDl" and values.pclEnabled == false) %}
      {% include "../components/ukDlSummaryList.njk" %}

    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "yes" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterEuSummaryList.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "yes" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailEuSummaryList.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "yes" and values.pclEnabled == false) %}
      {% include "../components/euSummaryList.njk" %}

    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "no" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclEuSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "no" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEuSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "no" and values.pclEnabled == false) %}
      {% include "../components/euSummaryListNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "yes" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterEeaSummaryList.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "yes" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailEeaSummaryList.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "yes" and values.pclEnabled == false) %}
      {% include "../components/eeaSummaryList.njk" %}

    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "no" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/pclLetterEeaSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "no" and values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/pclEmailEeaSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "no" and values.pclEnabled == false) %}
      {% include "../components/eeaSummaryListNoExpiry.njk" %}
      
    {% elif (values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "post") %}
        {% include "../components/pclLetterSummaryList.njk" %}
    {% elif (values.pclEnabled == true and values.postOfficeCustomerLetterChoice == "email") %}
        {% include "../components/pclEmailSummaryList.njk" %}
    {% else %}
        {% include "../components/summaryList.njk" %}
    {% endif %}

    {% call hmpoForm(ctx) %}
      {{ hmpoSubmit(ctx, {id: "continue", text: translate("checkDetails.buttonText"), attributes: {"data-nav": true,"data-link": "/oauth2/callback", "data-testid": "confirm-details-continue-btn"}
      }) }}
    {% endcall %}
    </div>
  </div>


{% endblock %}

{# generate the specific footer items required for the PYI flows #}

{% block footer %}
    {{ super() }}
    <script nonce="{{ cspNonce }}">


    var formSubmitted = false;

      submitSpinner()

      function delayDisableButton(button) {
        button.className += ' button--spinner'
        setTimeout(function () {
          button.setAttribute('disabled', true)
        }, 200);
      }

      function submitSpinner() {
        var select = document.getElementById('continue')

        select.addEventListener('click', function (event) {
          if (!formSubmitted) {
            formSubmitted = true;

            delayDisableButton(event.target);
          } else {
            event.preventDefault()
          }
        })
      }
        window.addEventListener('load', function () {
        window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
            statusCode: '200', // Access status code
            englishPageTitle: '{{translate("checkDetails.title")}}',
            taxonomy_level1: 'web cri', // Access taxonomy level 1
            taxonomy_level2: 'f2f', // Access taxonomy level 2
            content_id: '001',
            logged_in_status: true,
            dynamic: false,
        });
        });
    </script>
{% endblock %}