{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "checkDetails" %}
{% set gtmJourney = "f2f - checkYourDetails" %}

{% set contentId = "29c156b2-866c-4c5f-9256-53e6fa3a2fc5" %}
{% set isPageDataSensitive = false %}
{% set taxonomyLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set englishPageTitle = "{{translate("checkDetails.title")}}" %}
{% set loggedInStatus = true %}
{% set dynamic = false %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ translate("checkDetails.title") }}</h1>
    {{ govukWarningText({
      text: translate("checkDetails.validation.default"),
      iconFallbackText: "Warning"
    }) }}


    {% if (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterCountrySummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailCountrySummaryList.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterCountrySummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == false and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailCountrySummaryListNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterCountryThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "yes" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailCountryThinFileSummaryList.njk" %}

    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterCountrySummaryListThinFileNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "nonUkPassport" and values.idHasExpiryDate == "no" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailCountrySummaryListThinFileNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "ukPassport" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterUkPassportThinFileSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPassport" and values.isThinFileUser == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailUkPassportThinFileSummaryList.njk" %}

    {% elif (values.photoIdChoice == "ukPhotocardDl" == true and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterUkDlSummaryList.njk" %}
    {% elif (values.photoIdChoice == "ukPhotocardDl" == true and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailUkDlSummaryList.njk" %}

    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterEuSummaryList.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailEuSummaryList.njk" %}

    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterEuSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "euPhotocardDl" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailEuSummaryListNoExpiry.njk" %}

    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterEeaSummaryList.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "yes" and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailEeaSummaryList.njk" %}

    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == "post") %}
      {% include "../components/letterEeaSummaryListNoExpiry.njk" %}
    {% elif (values.photoIdChoice == "eeaIdentityCard" and values.idHasExpiryDate == "no" and values.postOfficeCustomerLetterChoice == "email") %}
      {% include "../components/emailEeaSummaryListNoExpiry.njk" %}
      
    {% elif (values.postOfficeCustomerLetterChoice == "post") %}
        {% include "../components/letterSummaryList.njk" %}
    {% elif (values.postOfficeCustomerLetterChoice == "email") %}
        {% include "../components/emailSummaryList.njk" %}
    {% endif %}

    {% call hmpoForm(ctx) %}
      {{ hmpoSubmit(ctx, {id: "continue", text: translate("checkDetails.buttonText"), attributes: {"data-nav": true,"data-link": "/oauth2/callback", "data-testid": "confirm-details-continue-btn"}
      }) }}
    {% endcall %}
    </div>
  </div>


{% endblock %}

{% block footer %}
    {{ super() }}
    <script nonce="{{ cspNonce }}">


    var formSubmitted = false;

      submitSpinner()

      function delayDisableButton(button) {
        button.className += ' button--spinner'
        setTimeout(function () {
          button.setAttribute('disabled', true)
        }, 200);
      }

      function submitSpinner() {
        var select = document.getElementById('continue')

        select.addEventListener('click', function (event) {
          if (!formSubmitted) {
            formSubmitted = true;

            delayDisableButton(event.target);
          } else {
            event.preventDefault()
          }
        })
      }
    </script>
{% endblock %}