{% extends "base-form.njk" %}
{% set gtmJourney = "f2f - photoIdSelection" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% set hmpoTitle = photoIdSelection.label %}
{% set hmpoPageKey = "photoIdSelection" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% set isPageHeading = true %}

{% if query.edit == "true" %}
  {% set contentID = "068be5e2-c0c0-490e-9580-44a6e1f2f228" %}
{% else %}
{% set contentID = "e8a154cf-8d00-47f4-87e1-5f9847010933" %}
{% endif %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageTitleKey = "pages.photoIdSelection.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% block mainContent %}

{% set isPageDataSensitive = false %}

{% set title = translate("photoIdSelection.title") %}
{% set content = translate("photoIdSelection.content") %}
{% set expiryWarning = translate("photoIdSelection.expiryWarning") %}
{% set addressWarning = translate("photoIdSelection.addressWarning") %}
{% set formInstructions = "<p>"+content+"</p><br><p>"+expiryWarning+"</p><br><p>"+addressWarning+"</p><br>" %}
{% set subtitle = translate("photoIdSelection.subtitle") %}
      
      {% call hmpoForm(ctx) %}
          {{ hmpoRadios(ctx, {
            id: "photoIdChoice",
            namePrefix: "photoIdChoice",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions + "<h2 class='govuk-heading-m'>" + subtitle + "</h2>"
            }
        }) }}

          {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
        }) }}
      {% endcall %}
    
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
