{% extends "base-form.njk" %}
{% set gtmJourney = "f2f - photoIdSelectionThinFile" %}
{% set hmpoTitle = photoIdSelectionThinFile.label %}
{% set hmpoPageKey = "photoIdSelectionThinFile" %}
{% set isPageHeading = true %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set title = translate("photoIdSelectionThinFile.title") %}
{% set content = translate("photoIdSelectionThinFile.content") %}
{% set biometricHint = translate("photoIdSelectionThinFile.biometricHint") %}
{% set biometricChipPhoto = translate("photoIdSelectionThinFile.biometricChipPhoto") %}
{% set photocopyWarning = translate("photoIdSelectionThinFile.photocopyWarning") %}
{% set formInstructions = "<p>"+content+"</p><br><p>"+biometricHint+"</p><br><p>"+biometricChipPhoto+"</p><br><p>"+photocopyWarning+"</p>" %}



    {% call hmpoForm(ctx) %}
        {{ hmpoRadios(ctx, {
        id: "photoIdChoiceThinFile",
        namePrefix: "photoIdChoiceThinFile",
        fieldset: {
            legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            html: formInstructions
        }
    }) }}
    
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

    {% endcall %}


{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" nonce='{{cspNonce}}'>window.DI.appInit({uaContainerId: '{{uaContainerId}}', analyticsCookieDomain: '{{analyticsCookieDomain}}', isGa4Enabled: '{{isGa4Enabled}}', ga4ContainerId: '{{ga4ContainerId}}'})</script>
  {% endblock %}
{% endblock %}
