{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "locations" %}
{% set gtmJourney = "f2f - locations" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set userPostCodeLabel = translate("locations.body") %}
{% set userPostCodeControl = hmpoHtml(translate("links.changePostcode")) %}
{% set title = translate("locations.title") %}

{% call hmpoForm(ctx) %}

    {%
    set fullBranch = {
      fieldset: {
          legend: {
            html: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
    },
    hint: {
        html: "<p class=\"govuk-body\">" + userPostCodeLabel + "</p>" + userPostCodeControl
    },
    items: branch.items
    }
    %}

        {{ hmpoRadios(ctx, fullBranch, {id: "branches"}) }}
        {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    {% endcall %}



    {% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}

  {% set footerNavItems = translate("govuk.footerNavItems") %}

  {% block footer %}
      {{ govukFooter( footerNavItems ) }}
  {% endblock %}