{% extends "base-form.njk" %}
{% set gtmJourney = "f2f - photoIdSelection" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% set hmpoTitle = photoIdSelection.label %}
{% set hmpoPageKey = "photoIdSelection" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% set isPageHeading = true %}


{% block mainContent %}

{% set title = translate("photoIdSelection.title") %}
{% set content = translate("photoIdSelection.content") %}
{% set expiryWarning = translate("photoIdSelection.expiryWarning") %}
{% set addressWarning = translate("photoIdSelection.addressWarning") %}
{% set formInstructions = "<p>"+content+"</p><br><p>"+expiryWarning+"</p><br><p>"+addressWarning+"</p><br>" %}
{% set subtitle = translate("photoIdSelection.subtitle") %}
      
      {% call hmpoForm(ctx) %}
          {{ hmpoRadios(ctx, {
            id: "photoIdChoice",
            namePrefix: "photoIdChoice",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions + "<h2 class='govuk-heading-m'>" + subtitle + "</h2>"
            }
        }) }}

          {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
        }) }}
      {% endcall %}
    
{% endblock %}

{% block footer %}
    {{ super() }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("photoIdSelection.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
{% endblock %}
