{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "locations" %}
{% set gtmJourney = "f2f - locations" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% set contentID = "36e028d3-01f6-4555-91d0-9f3a8c4df80e" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageTitleKey = "pages.locations.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% block mainContent %}

{% set information = translate("locations.content") %}
{% set userPostCodeLabel = translate("locations.body") %}
{% set userPostCodeControl = hmpoHtml(translate("links.changePostcode")) %}
{% set title = translate("locations.title") %}

{% set isPageDataSensitive = false %}

{% call hmpoForm(ctx) %}

    {%
    set fullBranch = {
      fieldset: {
          legend: {
            html: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
    },
    hint: {
        html: "<p class=\"govuk-body\" id=\"branchesInformation\">" + information + "</p>" + "<p class=\"govuk-body\" id=\"userPostCodeLabel\">" + userPostCodeLabel + "</p>" + userPostCodeControl
    },
    items: branch.items
    }
    %}

        {{ hmpoRadios(ctx, fullBranch, {id: "branches"}) }}
        {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/post-office-customer-letter"}
    }) }}
    {% endcall %}



    {% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}


  {% block footer %}
      {{ super() }}
  {% endblock %}
