{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "locations" %}
{% set gtmJourney = "f2f - locations" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set information = translate("locations.content") %}
{% set userPostCodeLabel = translate("locations.body") %}
{% set userPostCodeControl = hmpoHtml(translate("links.changePostcode")) %}
{% set title = translate("locations.title") %}

{% call hmpoForm(ctx) %}

    {%
    set fullBranch = {
      fieldset: {
          legend: {
            html: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
    },
    hint: {
        html: "<p class=\"govuk-body\" id=\"branchesInformation\">" + information + "</p>" + "<p class=\"govuk-body\" id=\"userPostCodeLabel\">" + userPostCodeLabel + "</p>" + userPostCodeControl
    },
    items: branch.items
    }
    %}

        {{ hmpoRadios(ctx, fullBranch, {id: "branches"}) }}
        {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/post-office-customer-letter"}
    }) }}
    {% endcall %}



    {% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}


  {% block footer %}
      {{ super() }}
      <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("locations.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
  {% endblock %}
