{% extends "base-form.njk" %}
{% set gtmJourney = "f2f - photoIdSelection" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% set hmpoTitle = photoIdSelection.label %}
{% set hmpoPageKey = "photoIdSelection" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% set isPageHeading = true %}

{% set contentId = "e8a154cf-8d00-47f4-87e1-5f9847010933" %}
{% set isPageDataSensitive = false %}
{% set taxonomyLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set englishPageTitle = "{{translate("photoIdSelection.title")}}" %}
{% set loggedInStatus = true %}
{% set dynamic = false %}

{% block mainContent %}

{% set title = translate("photoIdSelection.title") %}
{% set content = translate("photoIdSelection.content") %}
{% set expiryWarning = translate("photoIdSelection.expiryWarning") %}
{% set formInstructions = "<p>"+content+"</p><br><p>"+expiryWarning+"</p>" %}
      
      {% call hmpoForm(ctx) %}
          {{ hmpoRadios(ctx, {
            id: "photoIdChoice",
            namePrefix: "photoIdChoice",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}

          {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
        }) }}
      {% endcall %}
    
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
