{% extends "base-form.njk" %}
{% set gtmJourney = "f2f - photoIdSelectionThinFile" %}
{% set hmpoTitle = photoIdSelectionThinFile.label %}
{% set hmpoPageKey = "photoIdSelectionThinFile" %}
{% set isPageHeading = true %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% if query.edit == "true" %}
  {% set contentID = "8d406f37-e21f-4e2c-b4a1-19ba67a60bc0" %}
{% else %}
{% set contentID = "4c5af1dd-9555-42f8-bb4a-924a28577189" %}
{% endif %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "pages.error.unrecoverable.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% block mainContent %}

    {% set title = translate("photoIdSelectionThinFile.title") %}
    {% set content = translate("photoIdSelectionThinFile.content") %}
    {% set hint = translate("photoIdSelectionThinFile.hint") %}
    {% set formInstructions = "<br><p>" + content + "</p><br><p>" + hint + "</p>" %}

    {% call hmpoForm(ctx) %}
    {{ hmpoRadios(ctx, {
        id: "photoIdChoiceThinFile",
        namePrefix: "photoIdChoiceThinFile",
        fieldset: {
            legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            html: formInstructions
        }
    }) }}
    
    {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"} }) }}

    {% endcall %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}