{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "eeaIdCardAddressCheck" %}
{% set gtmJourney = "f2f - eeaNationalIdAddressCheck" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block mainContent %}

{% set title = translate("nationalIdentityCardHasExpiryDate.title") %}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "idHasExpiryDate",
                namePrefix: "idHasExpiryDate",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                }
            }) }}
  
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    
    {% endcall %}

{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}
