{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set gtmJourney = "f2f - euPhotocardDlAddressCheck" %}
{% set hmpoPageKey = "euPhotocardDlAddressCheck" %}

{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}



{% block mainContent %}

{% set title = translate("euPhotocardDlAddressCheck.title") %}
{% set context = translate("euPhotocardDlAddressCheck.context") %}
{% set formInstructions = "<p>"+context+"</p>"%}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "euPhotocardDlAddressCheck",
                namePrefix: "euPhotocardDlAddressCheck",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}

      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

      {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("euPhotocardDlAddressCheck.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
{% endblock %}