{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "euDrivingLicenceHasExpiryDate" %}
{% set gtmJourney = "f2f - euDrivingLicenceHasExpiryDate" %}

{% set contentID = "8aa1562d-6be4-4690-91c0-2571aca597eb" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "{{translate("euDrivingLicenceHasExpiryDate.title")}}" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% block mainContent %}

{% set title = translate("euDrivingLicenceHasExpiryDate.title") %}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "idHasExpiryDate",
                namePrefix: "idHasExpiryDate",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l idHasExpiryDate-radios"
                    }
                }
            }) }}

    {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
}) }}
  
    {% endcall %}

{% endblock %} 

{% block footer %}
    {{ super() }}
{% endblock %}