{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "euPhotocardDl" %}
{% set gtmJourney = "f2f - euPhotocardDlDetails" %}

{% set contentID = "d06093a8-8188-4f1a-a8b3-af897e92f0ed" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "{{translate("euPhotocardDl.title")}}" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block mainContent %}

{% set title = translate("euPhotocardDl.title") %}
{% set context = translate("euPhotocardDl.euPhotocardDlInformationContext") %}
{% set hintText = translate("euPhotocardDl.hintText") %}
{% set formInstructions = "<p class=\"idExpiryContext\">"+context+"</p><p class=\"govuk-hint\">"+hintText+"</p>" %}
    
    {% call hmpoForm(ctx) %}
          {{ hmpoDate(ctx, {
            id: "euPhotocardDlExpiryDate",
            namePrefix: "euPhotocardDlExpiryDate",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}

     {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
    }) }}

    {% endcall %}


{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}