{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set gtmJourney = "f2f - euPhotocardDlAddressCheck" %}
{% set hmpoPageKey = "euPhotocardDlAddressCheck" %}

{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}



{% block mainContent %}

{% set title = translate("euPhotocardDlAddressCheck.title") %}
{% set context = translate("euPhotocardDlAddressCheck.context") %}
{% set formInstructions = "<p>"+context+"</p>"%}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "euPhotocardDlAddressCheck",
                namePrefix: "euPhotocardDlAddressCheck",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l currentAddress-radios"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}

      {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next")}) }}

      {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}


{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" nonce='{{cspNonce}}'>window.DI.appInit({uaContainerId: '{{uaContainerId}}', analyticsCookieDomain: '{{analyticsCookieDomain}}', isGa4Enabled: '{{isGa4Enabled}}', ga4ContainerId: '{{ga4ContainerId}}'})</script>
  {% endblock %}
{% endblock %}
