{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set gtmJourney = "f2f - euDlAddressCheck" %}
{% set hmpoPageKey = "euDlAddressCheck" %}

{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}


{% block mainContent %}
<h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("euDlAddressCheck.title") }}
    </h1>
    <p> {{ translate("euDlAddressCheck.body") }} </p>

    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

    <div class="hint-with-margin">
    {{ hmpoRadios(ctx, {
        id: "euDrivingLicenceAddressCheck"
    }) }}
  </div>

     {{ hmpoSubmit(ctx, {id: "addressContinue", text: translate("buttons.next")}) }}

    {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}
