{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set gtmJourney = "f2f - euDrivingLicenceAddressCheck" %}
{% set hmpoPageKey = "euDrivingLicenceAddressCheck" %}

{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}



{% block mainContent %}

{% set title = translate("euDrivingLicenceAddressCheck.title") %}
{% set context = translate("euDrivingLicenceAddressCheck.context") %}
{% set formInstructions = "<p>"+context+"</p>"%}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "euDrivingLicenceAddressCheck",
                namePrefix: "euDrivingLicenceAddressCheck",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}

      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

      {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}
