{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "findBranch" %}
{% set gtmJourney = "f2f - findBranch" %}

{% from "hmpo-text/macro.njk" import hmpoText %}

{% block mainContent %}
    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("findBranch.title") }}
    </h1>
    
    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

    {{ hmpoText(ctx, {
        id: "postcode"
    })}}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

    {% endcall %}
{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" nonce='{{cspNonce}}'>window.DI.appInit({uaContainerId: '{{uaContainerId}}', analyticsCookieDomain: '{{analyticsCookieDomain}}', isGa4Enabled: '{{isGa4Enabled}}', ga4ContainerId: '{{ga4ContainerId}}'})</script>
  {% endblock %}
{% endblock %}
