{% extends "base-form.njk" %}

{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = landingPage.pageTitle %}
{% set hmpoPageKey = "landingPage" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
  {{ govukHeader ({
    serviceName: translate("govuk.serviceName")
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl" id="landingPageTitle">{{ "landingPage.title" | translate }}</h1>
    
    <ol class="post-office-list">
      <li>
        <div>
          <p class="circle">{{ "landingPage.firstCircle" | translate }}</p>
          <h2 class="govuk-heading-m" id="firstStepTitle">{{ "landingPage.firstStepTitle" | translate }}</h2>
        </div>
      </li>

        <ol class="govuk-list--spaced" id="firstStepList"> 
          <li> <p class="listItem" id="firstStepOne">{{ "landingPage.instructions.firstStep.one" | translate }}</p> </li>
          <li> <p class="listItem" id="firstStepTwo">{{ "landingPage.instructions.firstStep.two" | translate }}</p> </li>
          <li> <p class="listItem" id="firstStepThree">{{ "landingPage.instructions.firstStep.three" | translate }}</p> </li> 
        </ol>
        
      <li>
        <div>
          <p class="circle">{{ "landingPage.secondCircle" | translate }}</p>
          <h2 class="govuk-heading-m" id="secondStepTitle">{{ "landingPage.secondStepTitle" | translate }}</h2>
        </div>
      </li>

      <ol class="govuk-list--spaced" id="secondStepList">
        <li> <p class="listItem" id="secondStepOne">{{ "landingPage.instructions.secondStep.one" | translate }}<a href={{ "common.postoffice.pathToPoBranchSearch" | translate }} target="_blank"> {{ "common.postoffice.postofficeLink" | translate }}</a></p></li>
        <li> <p class="listItem" id="secondStepTwo">{{ "landingPage.instructions.secondStep.two" | translate }}</p> </li>
      </ol>
      
      {% set insetBody %}
      <div>
        <p id="insetInstruction" id="secondStepThree">{{ "landingPage.instructions.secondStep.three" | translate }}</p>
      </div>
      {% endset %}

      {{ govukInsetText({ 
        html: insetBody
      }) }}

      <li>
        <div>
          <p class="circle">{{ "landingPage.thirdCircle" | translate }}</p>
          <h2 class="govuk-heading-m" id="thirdStepTitle">{{ "landingPage.thirdStepTitle" | translate }}</h2>
        </div>
      </li>

      <ol class="govuk-list--spaced" id="thirdStepList">
        <li> <p class="listItem" id="thirdStepOne">{{ "landingPage.instructions.thirdStep.one" | translate }}</li>
      </ol>
    </ol>

    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}
    {% block submitButton %}
      {{ hmpoSubmit(ctx, {id: "landingPageContinue", text: translate("buttons.next")}) }}
    {% endblock %}
    {% endcall %}
  </div>
</div>

{% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}