{% extends "base-form.njk" %}

{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = landingPage.pageTitle %}
{% set hmpoPageKey = "landingPage" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
  {{ govukHeader ({
    serviceName: translate("govuk.serviceName")
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">{{ "landingPage.title" | translate }}</h1>

    <h2 class="govuk-heading-m">{{ "landingPage.firstStepTitle" | translate }}</h2>

    <ul class="govuk-list" id="firstStepList">
      <li id="listItem">{{ "landingPage.instructions.firstStep.one" | translate }}</li>
      <li id="listItem">{{ "landingPage.instructions.firstStep.two" | translate }}</li>
      <li id="listItem">{{ "landingPage.instructions.firstStep.three" | translate }}</li>
    </ul>

    <h2 class="govuk-heading-m">{{ "landingPage.secondStepTitle" | translate }}</h2>

    <ul class="govuk-list" id="secondStepList">
      <li id="listItem">{{ "landingPage.instructions.secondStep.one" | translate }}</li>
      <li id="listItem">{{ "landingPage.instructions.secondStep.two" | translate }}</li>
    </ul>
    
    {% set insetBody %}
    <div>
      <p>{{ "landingPage.instructions.secondStep.three" | translate }}</p>
    </div>
    {% endset %}

    {{ govukInsetText({ 
      html: insetBody
    }) }}

    <h2 class="govuk-heading-m">{{ "landingPage.thirdStepTitle" | translate }}</h2>

    <ul class="govuk-list" id="thirdStepList">
      <li id="listItem">{{ "landingPage.instructions.thirdStep.one" | translate }}</li>
    </ul>


    



    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}
    {% block submitButton %}
      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    {% endblock %}
    {% endcall %}
  </div>
</div>

{% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}
