{% extends "base-form.njk" %}

{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = landingPage.pageTitle %}
{% set hmpoPageKey = "landingPage" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
  {{ govukHeader ({
    serviceName: translate("govuk.serviceName")
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ "landingPage.title" | translate }}</h1>
    
    <div class="parent">
      <div class="govuk-body" id="circle1">{{ "landingPage.firstCircle" | translate }}</div>
      <div class="govuk-heading-m govuk-!-margin-bottom-6" id="stepTitle">{{ "landingPage.firstStepTitle" | translate }}</div>
    </div>

      <ol class="govuk-list--spaced" id="firstStepList"> 
        <li> <p class="govuk-body govuk-!-margin-bottom-5">{{ "landingPage.instructions.firstStep.one" | translate }}</p> </li>
        <li> <p class="govuk-body govuk-!-margin-bottom-5">{{ "landingPage.instructions.firstStep.two" | translate }}</p> </li>
        <li> <p class="govuk-body govuk-!-margin-bottom-5">{{ "landingPage.instructions.firstStep.three" | translate }}</p> </li> 
      </ol>
      
    <div class="parent">
      <div class="govuk-body" id="circle2">{{ "landingPage.secondCircle" | translate }}</div>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6" id="stepTitle">{{ "landingPage.secondStepTitle" | translate }}</h2>
    </div>

    <ol class="govuk-list--spaced" id="secondStepList">
      <li> <p class="govuk-body govuk-!-margin-bottom-5">{{ "landingPage.instructions.secondStep.one" | translate }}<a href={{ "common.postoffice.pathToPoBranchSearch" | translate }}> {{ "common.postoffice.postofficeLink" | translate }}</a></p></li>
      <li> <p>{{ "landingPage.instructions.secondStep.two" | translate }}</p> </li>
    </ol>
    
    {% set insetBody %}
    <div>
      <p class="govuk-body govuk-!-margin-bottom-5">{{ "landingPage.instructions.secondStep.three" | translate }}</p>
    </div>
    {% endset %}

    {{ govukInsetText({ 
      html: insetBody
    }) }}

    <div class="govuk-body" id="circle3">{{ "landingPage.thirdCircle" | translate }}</div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-6" id="stepTitle">{{ "landingPage.thirdStepTitle" | translate }}</h2>

    <ul class="govuk-list--spaced" id="thirdStepList">
      <li> <p class="govuk-body govuk-!-margin-bottom-5">{{ "landingPage.instructions.thirdStep.one" | translate }}</li>
    </ul>


    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}
    {% block submitButton %}
      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    {% endblock %}
    {% endcall %}
  </div>
</div>

{% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}