{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = locations %}
{% set gtmJourney = "f2f - locations" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}
<h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("locations.title") }}
    </h1>
    <p class="govuk-!-font-weight-bold govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6"> {{ translate("locations.body") }} </p>
    <p class="govuk-!-margin-bottom-6"> {{hmpoHtml(translate("links.changePostcode"))}} </p>
    
    {% call hmpoForm(ctx) %}
        {{ hmpoRadios(ctx, branch, {id: "branches"}) }}
        {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    {% endcall %}

    {% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}
