{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "nationalIdentityCardHasExpiryDate" %}
{% set gtmJourney = "f2f - nationalIdentityCardHasExpiryDate" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block mainContent %}

{% set title = translate("nationalIdentityCardHasExpiryDate.title") %}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "idHasExpiryDate",
                namePrefix: "idHasExpiryDate",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                }
            }) }}
    
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    
    {% endcall %}

{% endblock %} 

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("nationalIdentityCardHasExpiryDate.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
{% endblock %}