{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "eeaIdentityCardAddressCheck" %}
{% set gtmJourney = "f2f - eeaNationalIdAddressCheck" %}

{% set contentID = "f3826d0c-476d-4b68-bf65-35e079bce706" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "{{translate("eeaIdentityCardAddressCheck.title")}}" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set title = translate("eeaIdentityCardAddressCheck.title") %}
{% set context = translate("eeaIdentityCardAddressCheck.context") %}
{% set formInstructions = "<p>"+context+"</p>"%}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "eeaIdentityCardAddressCheck",
                namePrefix: "eeaIdentityCardAddressCheck",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l currentAddress-radios"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}
  
    {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
}) }}
    
    {% endcall %}

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}