{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "eeaIdentityCard" %}
{% set gtmJourney = "f2f - eeaIdCard" %}

{% set contentID = "819bc37e-0274-4916-91b1-bb1c39e742eb" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "{{translate("eeaIdentityCard.title")}}" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}

{% block mainContent %}

{% set title = translate("eeaIdentityCard.title") %}
{% set context = translate("eeaIdentityCard.eeaIdentityCardInformationContext") %}
{% set hintText = translate("eeaIdentityCard.hintText") %}
{% set formInstructions = "<p class=\"idExpiryContext\">"+context+"</p><p class=\"govuk-hint\">"+hintText+"</p>" %}

    {% call hmpoForm(ctx) %}
          {{ hmpoDate(ctx, {
            id: "eeaIdCardExpiryDate",
            namePrefix: "eeaIdCardExpiryDate",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
}) }}
    
    {% endcall %}

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}