{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "eeaIdCardAddressCheck" %}
{% set gtmJourney = "f2f - eeaNationalIdAddressCheck" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set title = translate("eeaIdCardAddressCheck.title") %}
{% set context = translate("eeaIdCardAddressCheck.context") %}
{% set formInstructions = "<p>"+context+"</p>"%}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "eeaIdCardAddressCheck",
                namePrefix: "eeaIdCardAddressCheck",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}
  
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    
    {% endcall %}

{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" nonce='{{cspNonce}}'>window.DI.appInit({uaContainerId: '{{uaContainerId}}', analyticsCookieDomain: '{{analyticsCookieDomain}}', isGa4Enabled: '{{isGa4Enabled}}', ga4ContainerId: '{{ga4ContainerId}}'})</script>
  {% endblock %}
{% endblock %}
