{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "nationalIdentityCardHasExpiryDate" %}
{% set gtmJourney = "f2f - nationalIdentityCardHasExpiryDate" %}

{% set contentID = "0c7f3517-a8d5-4cad-a0d3-df7ece7483f3" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "pages.nationalIdentityCardHasExpiryDate.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block mainContent %}

{% set title = translate("nationalIdentityCardHasExpiryDate.title") %}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "idHasExpiryDate",
                namePrefix: "idHasExpiryDate",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l idHasExpiryDate-radios"
                    }
                }
            }) }}
    
    {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
}) }}
    
    {% endcall %}

{% endblock %} 

{% block footer %}
    {{ super() }}
{% endblock %}