{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "nonUKPassport" %}
{% set gtmJourney = "f2f - nonUKPassportDetails" %}


{% if query.edit == "true" %}
  {% set contentID = "8dd56c68-185e-4ffb-9d3f-f8f4ed889747" %}
{% else %}
{% set contentID = "3d5ef4ad-2b40-4adc-a46a-7e8775d20b58" %}
{% endif %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "pages.nonUKPassport.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}

{% block mainContent %}

{% set title = translate("nonUKPassport.title") %}
{% set context = translate("nonUKPassport.passportInformationContext") %}
{% set hintText = translate("nonUKPassport.hintText") %}
{% set formInstructions = "<p class=\"idExpiryContext\">"+context+"</p><p class=\"govuk-hint\">"+hintText+"</p>" %}

  {% call hmpoForm(ctx) %}
          {{ hmpoDate(ctx, {
            id: "nonUKPassportExpiryDate",
            namePrefix: "nonUKPassportExpiryDate",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}

      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
    }) }}

      {% endcall %}

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}