{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set gtmJourney = "f2f - photoIdExpiry" %}
{% set hmpoPageKey = "photoIdExpiry" %}


{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}


{% set contentID = "20b2c956-6411-444f-9d0b-465b871d848f" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "pages.photoIdExpiry.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% block mainContent %}

{% set isPageDataSensitive = false %}

{% set title = translate("photoIdExpiry.title") %}
{% set content = translate("photoIdExpiry.content") %}
{% set prompt = translate("photoIdExpiry.prompt") %}
{% set formInstructions = "<p>"+content+"</p><p class=\"expiredIdPrompt\">"+prompt+"</p>"%}

{% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "photoIdExpiryChoice",
                namePrefix: "photoIdExpiryChoice",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}

            {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
        }) }}

    {% endcall %}

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}