{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set gtmJourney = "f2f - photoIdExpiry" %}
{% set hmpoPageKey = "photoIdExpiry" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% block mainContent %}

{% set title = translate("photoIdExpiry.title") %}
{% set content = translate("photoIdExpiry.content") %}
{% set prompt = translate("photoIdExpiry.prompt") %}
{% set formInstructions = "<p>"+content+"</p><p class=\"expiredIdPrompt\">"+prompt+"</p>"%}

{% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "photoIdExpiryChoice",
                namePrefix: "photoIdExpiryChoice",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}

            {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

    {% endcall %}

{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}