{% extends "base-form.njk" %}
{% set gtmJourney = "cic - photoIdSelection" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% set hmpoTitle = photoIdSelection.label %}
{% set hmpoPageKey = "photoIdSelection" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% set isPageHeading = true %}

{% block header %}
{{ govukHeader ({
serviceName: translate("govuk.serviceName")
}) }}
{% endblock %}

{% block mainContent %}
  <legend>
      <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
              {{ translate("photoIdChoice.validation.required") }}
      </h1>
  </legend>
      <p class="photoIdSelectionContent"> {{ translate("photoIdSelection.content") }}</p>
      <p class="photoIdSelectionExpiryWarning"> {{ translate("photoIdSelection.expiryWarning") }}</p>
      
      {% call hmpoForm(ctx) %}
          {{ hmpoRadios(ctx, {id: "photoIdChoice"}) }}
          {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
      {% endcall %}

      {% include "common/confirmIdentityAnotherWay.html" %}

  {% endblock %}
