{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "findAddress" %}
{% set gtmJourney = "f2f - findAddress" %}

{% set contentID = "922f0538-3f98-4370-a50d-54cf73316f0e" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "pages.findAddress.title"%}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-text/macro.njk" import hmpoText %}

{% block mainContent %}
    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("findAddress.title") }}
    </h1>
    
    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

    <p id="branchesInformation">{{ translate("findAddress.content") }}</p>

    {{ hmpoText(ctx, {
        id: "letterPostcode"
    })}}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/post-office-customer-letter-choose-address"}
}) }}


    {% endcall %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}