{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "customerLetterCheckAddress" %}
{% set gtmJourney = "f2f - customerLetterCheckAddress" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}

{% set title = translate("customerLetterCheckAddress.title") %}
{% set content = translate("customerLetterCheckAddress.content") %}
{% set prompt = translate("customerLetterCheckAddress.prompt") %}
{% set insetBody = translate("customerLetterCheckAddress.prompt") %} 

{% set formInstructions = "<p>"+content+"</p><p class=\"postOfficeLetterPrompt\">"+prompt+"</p>"%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ "customerLetterCheckAddress.title" | translate }}</h1>

        <p class="instruction">{{ "customerLetterCheckAddress.content" | translate }}</p>

        {{ govukInsetText({
            html: insetBody
        }) }}

            {% call hmpoForm(ctx) %}
                    {{ hmpoRadios(ctx, {
                        id: "customerLetterCheckAddress",
                        namePrefix: "customerLetterCheckAddress",
                        fieldset: {
                            legend: {
                                text: prompt,
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--m customerLetterCheckAddress-radios"
                            }
                        }
                    }) }}

            {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next")}) }}

            {% endcall %}

{% endblock %} 
  </div>
</div>

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("euDrivingLicenceHasExpiryDate.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
{% endblock %}