{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "postOfficeCustomerLetterChoice" %}
{% set gtmJourney = "f2f - postOfficeCustomerLetter" %}

{% set contentID = "e10eea5a-7ac8-4857-b880-95c925ea1912" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "pages.euDrivingLicenceHasExpiryDate.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set title = translate("postOfficeCustomerLetterChoice.title") %}
{% set content1 = translate("postOfficeCustomerLetterChoice.content1") %}
{% set content2 = translate("postOfficeCustomerLetterChoice.content2") %}
{% set prompt = translate("postOfficeCustomerLetterChoice.prompt") %}

    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
      {{ title }}
    </h1>

{% call hmpoForm(ctx) %}
    <div id="branches-hint">
      <p id="branchesInformation">{{ content1 }}</p>
      <p>{{ content2 }}</p>
    </div>

        {{ hmpoRadios(ctx, {
            id: "postOfficeCustomerLetterChoice",
            legend: {
                text: prompt,
                classes: "govuk-fieldset__legend--m"
            }
        })}}

        {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.continue"), attributes: {"data-nav": true,"data-link": "/undefined"}
    }) }}
    {% endcall %}

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
