{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "customerLetterCheckAddress" %}
{% set gtmJourney = "f2f - customerLetterCheckAddress" %}



{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set contentId = "14d71790-90a3-4706-9c06-e8f9ff51f4db2" %}
{% set isPageDataSensitive = false %}
{% set taxonomyLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set englishPageTitle = "pages.euDrivingLicenceHasExpiryDate.title" %}
{% set loggedInStatus = true %}
{% set dynamic = false %}

{% set title = translate("customerLetterCheckAddress.title") %}
{% set content = translate("customerLetterCheckAddress.content") %}
{% set prompt = translate("customerLetterCheckAddress.prompt") %}

    <h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ title }}
    </h1>

    {% call hmpoForm(ctx) %}
        <p class="addressCheckContent">{{ content }}</p>

        {{ govukInsetText({
            html: "<p>" + addressLine + "</p>"
        }) }}

        {{ hmpoRadios(ctx, {
            id: "customerLetterCheckAddress",
                legend: {
                    text: prompt,
                    classes: "govuk-fieldset__legend--m"
                }
        })}}

        {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.continue"), attributes: {"data-nav": true,"data-link": "/undefined"}
    }) }}
    {% endcall %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
