{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/pages.yml #}
{% set hmpoPageKey = "postOfficeCustomerLetterLanguageChoice" %}
{% set gtmJourney = "f2f - postOfficeCustomerLetterLanguageChoice" %}

{% from "hmpo-radios/macro.njk" import hmpoRadios %}


{% if query.edit == "true" %}
  {% set contentID = "7abc50b2-8a1f-4afb-9336-f7088039649c" %}
{% else %}
{% set contentID = "49ddfb8c-bf6d-431f-abc3-3a4cdbbebc42" %}
{% endif %}


{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageTitleKey = "pages.postOfficeCustomerLetterLanguageChoice.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}

{% block mainContent %}

{% set title = translate("postOfficeCustomerLetterLanguageChoice.title") %}

{% call hmpoForm(ctx) %}

        {{ hmpoRadios(ctx, {
            id: "postOfficeCustomerLetterLanguageChoice",
            legend: {
                text: title,
                classes: "govuk-fieldset__legend--l"
            }
        })}}

        {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.continue"), attributes: {"data-nav": true,"data-link": "/undefined"}
    }) }}
    {% endcall %}

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}