{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "findAddress" %}
{% set gtmJourney = "f2f - findAddress" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}
{% from "govuk/components/input/macro.njk" import govukInput %}



{% block mainContent %}

{% set title = translate("findAddress.title") %}
{% set content = translate("findAddress.content") %}
{% set prompt = translate("findAddress.prompt") %}
{% set hintText = translate("findAddress.hintText") %}
{% set formInstructions = "<p id=\"findAddressContent\">"+content+"</p><p>"+prompt+"</p>"+hintText+"<p>"%}

<h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
    {{ title }}
</h1>
    
    {% call hmpoForm(ctx) %}
          {{ hmpoText(ctx, {
            id: "letterPostcode",
            namePrefix: "letterPostcode",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}


    {% endcall %}
{% endblock %}

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("findAddress.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
{% endblock %}