{% extends "base-form.njk" %}

{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = landingPage.pageTitle %}
{% set hmpoPageKey = "landingPage" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" id="landingPageTitle">{{ "landingPage.title" | translate }}</h1>
    
    <ol class="post-office-list">
      <li>
        <div>
          <p class="circle">{{ "landingPage.firstCircle" | translate }}</p>
          <h2 class="govuk-heading-m" id="firstStepTitle">{{ "landingPage.firstStepTitle" | translate }}</h2>
        </div>
        <p class="instruction" id="firstStepOne">{{ "landingPage.instructions.firstStep.one" | translate }}</p>
        <p class="instruction" id="firstStepTwo">{{ "landingPage.instructions.firstStep.two" | translate }}</p> 
        <p class="instruction" id="firstStepThree">{{ "landingPage.instructions.firstStep.three" | translate }}</p>
      </li>

      <li>
        <div>
          <p class="circle">{{ "landingPage.secondCircle" | translate }}</p>
          <h2 class="govuk-heading-m" id="secondStepTitle">{{ "landingPage.secondStepTitle" | translate }}</h2>
        </div>
        <p class="instruction" id="secondStepOne">{{ "landingPage.instructions.secondStep.one" | translate }}<a href={{ "common.postoffice.pathToPoBranchSearch" | translate }} target="_blank"> {{ "common.postoffice.postofficeLink" | translate }}</a></p>
        <p class="instruction" id="secondStepTwo">{{ "landingPage.instructions.secondStep.two" | translate }}</p>

      {% set insetBody %}
        {{- "landingPage.instructions.secondStep.three" | translate -}}
      {% endset %}
      {{ govukInsetText({
        text: insetBody
      }) }}
      </li>
      <li>
        <div>
          <p class="circle">{{ "landingPage.thirdCircle" | translate }}</p>
          <h2 class="govuk-heading-m" id="thirdStepTitle">{{ "landingPage.thirdStepTitle" | translate }}</h2>
        </div>
        <p class="instruction" id="thirdStepOne">{{ "landingPage.instructions.thirdStep.one" | translate }}</p>
      </li>
    </ol>
    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}
    {% block submitButton %}
      {{ hmpoSubmit(ctx, {id: "landingPageContinue", text: translate("buttons.next")}) }}
    {% endblock %}
    {% endcall %}
  </div>
</div>

{% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script type="text/javascript" src="/public/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/public/javascripts/all.js"></script>
    <script type="text/javascript" src="/public/javascripts/application.js"></script>
    <script type="text/javascript" nonce='{{cspNonce}}'>window.DI.appInit({uaContainerId: '{{uaContainerId}}', analyticsCookieDomain: '{{analyticsCookieDomain}}', isGa4Enabled: '{{isGa4Enabled}}', ga4ContainerId: '{{ga4ContainerId}}'})</script>
  {% endblock %}
{% endblock %}