{% extends "base-form.njk" %}

{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoTitle = landingPage.pageTitle %}
{% set hmpoPageKey = "landingPage" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" id="landingPageTitle">{{ "landingPage.title" | translate }}</h1>
    
    <div class="parent">
      <p class="circle">{{ "landingPage.firstCircle" | translate }}</p>
      <p class="govuk-heading-m">{{ "landingPage.firstStepTitle" | translate }}</p>
    </div>

      <ol class="govuk-list--spaced" id="firstStepList"> 
        <li> <p class="listItem">{{ "landingPage.instructions.firstStep.one" | translate }}</p> </li>
        <li> <p class="listItem">{{ "landingPage.instructions.firstStep.two" | translate }}</p> </li>
        <li> <p class="listItem">{{ "landingPage.instructions.firstStep.three" | translate }}</p> </li> 
      </ol>
      
    <div class="parent">
      <p class="circle">{{ "landingPage.secondCircle" | translate }}</p>
      <p class="govuk-heading-m">{{ "landingPage.secondStepTitle" | translate }}</p>
    </div>

    <ol class="govuk-list--spaced" id="secondStepList">
      <li> <p class="listItem">{{ "landingPage.instructions.secondStep.one" | translate }}<a href={{ "common.postoffice.pathToPoBranchSearch" | translate }} target="_blank"> {{ "common.postoffice.postofficeLink" | translate }}</a></p></li>
      <li> <p>{{ "landingPage.instructions.secondStep.two" | translate }}</p> </li>
    </ol>
    
    {% set insetBody %}
    <div>
      <p id="insetInstruction">{{ "landingPage.instructions.secondStep.three" | translate }}</p>
    </div>
    {% endset %}

    {{ govukInsetText({ 
      html: insetBody
    }) }}

    <p class="circle">{{ "landingPage.thirdCircle" | translate }}</p>
    <p class="govuk-heading-m">{{ "landingPage.thirdStepTitle" | translate }}</p>

    <ul class="govuk-list--spaced" id="thirdStepList">
      <li> <p class="listItem">{{ "landingPage.instructions.thirdStep.one" | translate }}</li>
    </ul>


    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}
    {% block submitButton %}
      {{ hmpoSubmit(ctx, {id: "landingPageContinue", text: translate("buttons.next")}) }}
    {% endblock %}
    {% endcall %}
  </div>
</div>

{% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}