{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "eeaIdentityCardCountrySelector" %}
{% set gtmJourney = "f2f - eeaIdentityCardCountrySelector" %}

{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-select/macro.njk" import hmpoSelect %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block mainContent %}
<h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("eeaIdentityCardCountrySelector.title") }}
    </h1>
    <p> {{ translate("eeaIdentityCardCountrySelector.content") }} </p>

    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

    <div class="hint-with-margin">
    {{ hmpoSelect(ctx, {
        id: "eeaIdentityCardCountrySelector",
        label: translate("fields.eeaIdentityCardCountrySelector.label")
    }) }}
  </div>

  <p><a href="/choose-photo-id-post-office">{{ translate("eeaIdentityCardCountrySelector.link") }}</a></p>

     {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/find-post-office-prove-identity"}
    }) }}

    {% endcall %}
{% endblock %}

{% block footer %}
    {{ super() }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("eeaIdentityCardCountrySelector.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
{% endblock %}
