{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "nonUkPassportCountrySelector" %}
{% set gtmJourney = "f2f - nonUkPassportCountrySelector" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-select/macro.njk" import hmpoSelect %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block mainContent %}
<h1 id="header" data-page="{{hmpoPageKey}}" class="govuk-heading-l">
        {{ translate("nonUkPassportCountrySelector.title") }}
    </h1>
    <p> {{ translate("nonUkPassportCountrySelector.content") }} </p>

    {% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

    <div class="hint-with-margin">
        {{ hmpoSelect(ctx, {
            id: "nonUkPassportCountrySelector",
            label: translate("fields.nonUkPassportCountrySelector.label")
        }) }}
    </div>

  <p><a href="/choose-photo-id-post-office">{{ translate("nonUkPassportCountrySelector.link") }}</a></p>

     {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next")}) }}

    {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
<script id="govuk-script-analytics" nonce="{{ cspNonce }}" type="text/javascript"> 



    console.log("1!")
      document.addEventListener('DOMContentLoaded', function() {
      console.log("2!")

        const initialiseAddressCountryAutocomplete = () => {
          var autocompleteScript = document.createElement('script')

          console.log("3")
          autocompleteScript.onload = function () {

            accessibleAutocomplete.enhanceSelectElement({
                selectElement: document.querySelector('#nonUkPassportCountrySelector')
            })
            console.log("4")
            // document.getElementById('addressCountry').setAttribute('autocomplete', 'country-disabled-autocomplete')
          }

          console.log("5")
          autocompleteScript.setAttribute('type', 'text/javascript')
          autocompleteScript.setAttribute('src', '/public/accessible-autocomplete.min.js')
          document.getElementsByTagName('head')[0].appendChild(autocompleteScript)

          console.log("6")
        }
        initialiseAddressCountryAutocomplete()
      })
</script>
    
{% endblock %}