{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "ukPhotocardDlAddressCheck" %}
{% set gtmJourney = "f2f - ukPhotocardDlAddressCheck" %}

{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-details/macro.njk" import hmpoDetails %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block mainContent %}

{% set title = translate("ukPhotocardDlAddressCheck.title") %}
{% set context = translate("ukPhotocardDlAddressCheck.context") %}
{% set formInstructions = "<p>"+context+"</p>"%}
      
      {% call hmpoForm(ctx) %}
              {{ hmpoRadios(ctx, {
                id: "ukPhotocardDlAddressCheck",
                namePrefix: "ukPhotocardDlAddressCheck",
                fieldset: {
                    legend: {
                        text: title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l currentAddress-radios"
                    }
                },
                hint: {
                    html: formInstructions
            }
            }) }}

        {{ hmpoDetails({
          id: "ukPhotocardDlAddressCheckChange",
          summaryText: translate("ukPhotocardDlAddressCheck.change-how"),
          html: translate("ukPhotocardDlAddressCheck.change-link")
        }) }}

        {{ hmpoSubmit(ctx, {id: "continue", classes: "radioButtonsContinue", text: translate("buttons.next")}) }}
    
      {% endcall %}

{% endblock %}

{# generate the specific footer items required for the PYI flows #}
{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
    <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
        window.addEventListener('load', function () {
            window
                .DI
                .analyticsGa4
                .pageViewTracker
                .trackOnPageLoad({
                    statusCode: '200', // Access status code
                    englishPageTitle: '{{translate("ukPhotocardDlAddressCheck.title")}}',
                    taxonomy_level1: 'web cri', // Access taxonomy level 1
                    taxonomy_level2: 'f2f', // Access taxonomy level 2
                    content_id: '001',
                    logged_in_status: true,
                    dynamic: false
                });
        });
    </script>
{% endblock %}
