{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "ukPassport" %}
{% set gtmJourney = "f2f - ukPassportDetails" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}


{% block mainContent %}


{% set title = translate("ukPassport.title") %}
{% set context = translate("ukPassport.passportInformationContext") %}
{% set hintText = translate("ukPassport.hintText") %}
{% set formInstructions = "<p class=\"idExpiryContext\">"+context+"</p><p class=\"govuk-hint\">"+hintText+"</p>" %}

  {% call hmpoForm(ctx) %}
          {{ hmpoDate(ctx, {
            id: "ukPassportExpiryDate",
            namePrefix: "ukPassportExpiryDate",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}


      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
    }) }}

      {% endcall %}
  {% endblock %}

  {% block footer %}
      {{ super() }}
      <script {% if cspNonce %} nonce="{{ cspNonce }}"{%  endif %}>
            window.addEventListener('load', function () {
                window
                    .DI
                    .analyticsGa4
                    .pageViewTracker
                    .trackOnPageLoad({
                        statusCode: '200', // Access status code
                        englishPageTitle: '{{translate("ukPassport.title")}}',
                        taxonomy_level1: 'web cri', // Access taxonomy level 1
                        taxonomy_level2: 'f2f', // Access taxonomy level 2
                        content_id: '001',
                        logged_in_status: true,
                        dynamic: false
                    });
            });
        </script>
  {% endblock %}