{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "ukPassport" %}
{% set gtmJourney = "f2f - ukPassportDetails" %}



{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}


{% block mainContent %}

{% if query.edit == "true" %}
  {% set contentID = "22c57cf0-70d0-422b-994b-04bdbbcba3f0" %}
{% else %}
{% set contentID = "7c3b060d-ab30-4a3f-abcb-a5ea61646f57" %}
{% endif %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "200" %}
{% set pageKeyTitle = "pages.ukPassport.title" %}
{% set loggedInStatus = true %}
{% set isPageDynamic = false %}



{% set title = translate("ukPassport.title") %}
{% set context = translate("ukPassport.passportInformationContext") %}
{% set hintText = translate("ukPassport.hintText") %}
{% set formInstructions = "<p class=\"idExpiryContext\">"+context+"</p><p class=\"govuk-hint\">"+hintText+"</p>" %}

  {% call hmpoForm(ctx) %}
          {{ hmpoDate(ctx, {
            id: "ukPassportExpiryDate",
            namePrefix: "ukPassportExpiryDate",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}


      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next"), attributes: {"data-nav": true,"data-link": "/undefined"}
    }) }}

      {% endcall %}
  {% endblock %}

  {% block footer %}
      {{ super() }}
  {% endblock %}