{% extends "base-form.njk" %}
{# the content for this page is controlled by locales/en/default.yml #}
{% set hmpoPageKey = "ukPassport" %}
{% set gtmJourney = "f2f - ukPassportDetails" %}

{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-date/macro.njk" import hmpoDate %}


{% block mainContent %}


{% set title = translate("ukPassport.title") %}
{% set passportInformationContext = translate("ukPassport.passportInformationContext") %}


    {% call hmpoForm(ctx) %}
          {{ hmpoDate(ctx, {
            id: "ukPassportExpiryDate",
            namePrefix: "ukPassportExpiryDate",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: passportInformationContext
            }
        }) }}


      {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}

      {% endcall %}

  {% endblock %}

  {# generate the specific footer items required for the PYI flows #}
  {% set footerNavItems = translate("govuk.footerNavItems") %}

  {% block footer %}
      {{ govukFooter( footerNavItems ) }}
  {% endblock %}
  