<!-- Copied from common express with contact link changed -->
{% extends "base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set hmpoPageKey = "error.unrecoverable" %}

{% set contentID = "3e8b784d-6c7e-4ca2-a39d-da2c2290a147" %}
{% set isPageDataSensitive = false %}
{% set taxLevel2 = "f2f" %}
{% set statusCode = "500" %}
{% set pageKeyTitle = "error.unrecoverable.title"%}
{% set loggedInStatus = true %}
{% set isPageDynamic = false%}

{% block mainContent %}
  <h1 data-id="error-title">{{ translate("error.unrecoverable.title") }}</h1>

  <p>{{ translate("error.unrecoverable.subTitle") }}</p>

  <h2>{{ translate("error.unrecoverable.subHeading") }}</h2>

  <div class="govuk-text">
    <p>{{ translate("error.unrecoverable.description") }}</p>
  </div>

  {{ govukButton({
    text: translate("error.unrecoverable.buttonText"),
    href: translate("error.unrecoverable.buttonLink")
  }) }}

  <div>
      <p><a href="https://home.account.gov.uk/contact-gov-uk-one-login?fromURL=https://www.review-o.account.gov.uk/prove-identity-post-office\" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ translate("error.unrecoverable.contactMeLink") }}</a></p>
  </div>

{% endblock %}