{% extends "base-form.njk" %}
{% set gtmJourney = "f2f - photoIdSelection" %}
{% set hmpoTitle = photoIdSelection.label %}
{% set hmpoPageKey = "photoIdSelection" %}
{% set isPageHeading = true %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% block mainContent %}

{% set title = translate("photoIdSelection.title") %}
{% set content = translate("photoIdSelection.content") %}
{% set expiryWarning = translate("photoIdSelection.expiryWarning") %}
{% set formInstructions = "<p>"+content+"</p><br><p>"+expiryWarning+"</p>" %}
      

      {% call hmpoForm(ctx) %}
          {{ hmpoRadios(ctx, {
            id: "photoIdChoice",
            namePrefix: "photoIdChoice",
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                html: formInstructions
            }
        }) }}

          {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
      {% endcall %}

{% include "common/confirmIdentityAnotherWay.html" %}

{% endblock %}