{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-6',
        rows: [
          {
            key: {
              text: translate("checkDetails.selectedId")
            },
            value: {
              html: translate("{{ idTranslationKey }}")
            },
            actions: {
              items: [
                {
                  href: "/choose-photo-id-post-office-biometric/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.selectedId")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.hasExpiryDate")
            },
            value: {
              html: translate("{{ hasExpiryDateTranslationKey }}")
            },
            actions: {
              items: [
                {
                  href: "/non-uk-passport-has-expiry-date/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.hasExpiryDate")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.expiryDate")
            },
            value: {
              html: translate("{{ formattedExpiryDate }}")
            },
            actions: {
              items: [
                {
                  href: changeUrl + "/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.expiryDate")
                }
              ]
            }
          },
          {
              key: {
              text: translate("checkDetails.country")
            },
            value: {
              html: translate("{{ country }}")
            },
            actions: {
              items: [
                {
                  href: "/select-country-non-uk-passport/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.country")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.postOffice")
            },
            value: {
              html: translate("{{ postOfficeName }}<br>{{ postOfficeAddress[0] }}<br>{{ postOfficeAddress[1] }}<br>{{ postOfficeAddress[2] }}<br>{{ postOfficeAddress[3] }}")
            },
            actions: {
              items: [
                {
                  href: "/find-post-office-prove-identity/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.postOffice")
                }
              ]
            }
          }
        ]
      }) }}
