{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-6',
        rows: [
          {
            key: {
              text: translate("checkDetails.selectedId")
            },
            value: {
              html: translate("{{ idTranslationKey }}")
            },
            actions: {
              items: [
                {
                  href: "/choose-photo-id-post-office/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.selectedId")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.hasExpiryDate")
            },
            value: {
              html: translate("idHasExpiryDate.items.no.label")
            },
            actions: {
              items: [
                {
                  href: "national-identity-card-has-expiry-date/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.hasExpiryDate")
                }
              ]
            }
          },
          { 
              key: {
              text: translate("checkDetails.idCardAddress")
            },
            value: {
              html: translate("{{ addressCheck }}")
            },
            actions: {
              items: [
                {
                  href: "national-identity-card-current-address/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.idCardAddress")
                }
              ]
            }
          },
          { 
              key: {
              text: "Country"
            },
            value: {
              html: translate("{{ country }}")
            },
            actions: {
              items: [
                {
                  href: "select-country-national-identity-card/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("{{ country }}")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.postOffice")
            },
            value: {
              html: translate("{{ postOfficeName }}<br>{{ postOfficeAddress[0] }}<br>{{ postOfficeAddress[1] }}<br>{{ postOfficeAddress[2] }}<br>{{ postOfficeAddress[3] }}")
            },
            actions: {
              items: [
                {
                  href: "/find-post-office-prove-identity/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.postOffice")
                }
              ]
            }
          }
        ]
      }) }}