{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-6',
        rows: [
          {
            key: {
              text: translate("checkDetails.selectedId")
            },
            value: {
              html: idTranslatedString
            },
            actions: {
              items: [
                {
                  href: "/choose-photo-id-post-office/edit?edit=true",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.selectedId")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.hasExpiryDate")
            },
            value: {
              html: hasExpiryDateTranslatedString
            },
            actions: {
              items: [
                {
                  href: "eu-driving-licence-expiry-date/edit?edit=true",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.hasExpiryDate")
                }
              ]
            }
          },
          { 
              key: {
              text: translate("checkDetails.euDlAddress")
            },
            value: {
              html: addressCheckTranslatedString
            },
            actions: {
              items: [
                {
                  href: "eu-driving-licence-current-address/edit?edit=true",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.euDlAddress")
                }
              ]
            }
          },
          { 
            key: {
              text: translate("checkDetails.country")
            },
            value: {
              html: countryTranslatedString
            },
            actions: {
              items: [
                {
                  href: "select-country-eu-driving-licence/edit?edit=true",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("{{ country }}")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.postOffice")
            },
            value: {
              html: translate("{{ postOfficeName }}<br>{{ postOfficeAddress[0] }}<br>{{ postOfficeAddress[1] }}<br>{{ postOfficeAddress[2] }}<br>{{ postOfficeAddress[3] }}")
            },
            actions: {
              items: [
                {
                  href: "/find-post-office-prove-identity/edit?edit=true",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.postOffice")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.pdfPreference")
            },
            value: {
              html: translate("{{ pdfPreferenceText }}")
            },
            actions: {
              items: [
                {
                  href: "/post-office-customer-letter/edit?edit=true",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.pdfPreference")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.pdfChosenAddress")
            },
            value: {
              html: translate("{{ addressLine1 }}<br>{{ addressLine2 }}<br>{{ addressLine3 }}<br>{{ addressPostcode}}")
            },
            actions: {
              items: [
                {
                  href: "/post-office-customer-letter-check-address/edit?edit=true",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.pdfChosenAddress")
                }
              ]
            }
          }
        ]
      }) }}