{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-6',
        rows: [
          {
            key: {
              text: translate("checkDetails.selectedId")
            },
            value: {
              html: translate("{{ idTranslationKey }}")
            },
            actions: {
              items: [
                {
                  href: "/choose-photo-id-post-office/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.selectedId")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.expiryDate")
            },
            value: {
              html: translate("{{ formattedExpiryDate }}")
            },
            actions: {
              items: [
                {
                  href: changeUrl + "/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.expiryDate")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.ukDlAddress")
            },
            value: {
              html: translate("{{ addressCheckTranslationKey }}")
            },
            actions: {
              items: [
                {
                  href: "/uk-driving-licence-current-address/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.ukDlAddress")
                }
              ]
            }
          },
          {
            key: {
              text: translate("checkDetails.postOffice")
            },
            value: {
              html: translate("{{ postOfficeName }}<br>{{ postOfficeAddress[0] }}<br>{{ postOfficeAddress[1] }}<br>{{ postOfficeAddress[2] }}<br>{{ postOfficeAddress[3] }}")
            },
            actions: {
              items: [
                {
                  href: "/find-post-office-prove-identity/edit",
                  text: translate("checkDetails.changeLink"),
                  visuallyHiddenText: translate("checkDetails.postOffice")
                }
              ]
            }
          }
        ]
      }) }}