name: Pre-merge checks

on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
  push:
    branches: [main]

jobs:
  detect-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
      - name: Run pre-commit for detecting secrets
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: detect-secrets --all-files

  run-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run lint
        run: yarn lint
      - name: Run build
        run: yarn build
      - name: Run test and write coverage
        run: yarn test:coverage
      - name: Install Playwright browsers
        run: yarn playwright install --with-deps
      - name: Run browser tests
        run: yarn run test:browser:ci
        env: 
          IPV_STUB_URL: ${{ secrets.IPV_STUB_URL }}
          CUSTOM_FE_URL: http://localhost:5030
          LANGUAGE_TOGGLE_DISABLED: false
          PROXYURL: f2f-cri-outbound-proxy-proxy.review-o.dev.account.gov.uk
          F2F_FE_BASE_URL: http://localhost:5030
      - name: Archive browser tests results
        uses: actions/upload-artifact@v5
        with:
          name: browser-tests-report
          path: test/reports/f2f-reports/

  sonar-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: '0'
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test:coverage
      - name: Run SonarCloud Scan
        if: success() && github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarqube-scan-action@v5.3.1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
